@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
   font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
align-items: center;
text-align: center;
}

.frame {
    background-color: rgb(98, 124, 116);
    width: 500px;
 height: 500px;
 position: absolute;
 color: white;
 transform: translateX(+140%) translateY(+40%);
 border-radius: 15px;
}

.resultado {
    color: rgb(235, 180, 13);
}

.imagem {
    width: 150px;
    height: 150px;
    border-radius: 85px;
}
