@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    
    display: flex;
    text-align: center;
    align-items: center;
    border: none;
    background-color: antiquewhite;
    margin: 0;
}

.frame {
    background-color: rgba(89, 89, 89, 0.512);
    width: 200px;
    height: 150px;
    padding: 100px;
    border-radius: 20px;
}


.titulo-e-frame {
margin: 0 auto;
}

.botom {
    width: 80px;
    height: 30px;
    border-radius: 13px;
}

.imagem {
    width: 350px;
    height: 98.2ch;
}