<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
<img src="../static/imagens/foto.jpg" alt="imagem" class="imagem">

<div class="titulo-e-frame">
<h1>Faça login agora!</h1>

<form action="/login" method="post" class="frame">
    
  <label for="email">E-mail</label>
  <input type="email" name="email" id="email" required /><br /><br />

  <label for="password">Senha</label>
  <input type="password" name="password" id="password" required /><br /><br />

  <input type="submit" value="Log in" />
</form>
</div>
 
</body>
</html>